# dependencies
/node_modules

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
bun-debug.log*

# package manager lockfiles (using bun)
package-lock.json
yarn.lock
pnpm-lock.yaml

# env files
.env*
!.envrc

# typescript
*.tsbuildinfo
next-env.d.ts

# devbox
.devbox/

# direnv
.direnv/

# editors
.idea/
.vscode/
*.swp
*.swo
*~

# testing
/coverage

# plans
/docs/plans
